* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #1C4473
}


body{
  background-color: var(--main-bg-color);
}

.container {
  background-color: #1C4473; 
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

h1 {
  color: #EFCB68;
  font-size: 3rem;
}

.js-todo-input{
  margin-top: 30px;
  padding: 20px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}


.todo-list {
  width: 300px;
  margin: 30px auto 0;
  list-style: none;
  border-radius: 20px 20px 20px 20px;
  background-color: #7EA3CC;
}

.todo-item {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  
}

.todo-description {
  display: flex;
  align-items: center;
}

.todo-description-completed {
  text-decoration: line-through;
}

.todo-description label {
  margin-left: 10px;
  cursor: pointer;
}

.todo-delete-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #B3001B;
  border: none;
  border-radius: 50%;
}

.todo-delete-button:hover {
  background-color: #FF4763;
}

.addBtn {
  padding: 20px;
  background: rgb(9, 165, 17);
  color: rgb(253, 253, 253);
  text-align: right;
  cursor: pointer;
  border: none;
  border-radius: 0px 10px 10px 0px;
  
}